<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-5.5.dtd">
<hibernate-configuration>  
    <session-factory>  
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>    
        <property name="connection.url">jdbc:mysql://db/neptune</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">neptune</property>
        <property name="hibernate.connection.password">neptune</property>
        <property name="show_sql">true</property>
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">19</property>
        <property name="hibernate.c3p0.timeout">120</property>
        <property name="hibernate.c3p0.max_statements">10</property>
        <mapping class="neptune.storage.profileObject"/>
        <mapping class="neptune.storage.Guild.guildObject"/>
    </session-factory>
</hibernate-configuration>