<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>  
    <session-factory>  
        <property name="hibernate.connection.dialect">org.hibernate.dialect.MariaDB103Dialect</property>
        <property name="hibernate.connection.url">jdbc:mariadb://db/neptune</property>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.username">neptune</property>
        <property name="hibernate.connection.password">neptune</property>
        <property name="hibernate.connection.show_sql">true</property>
        <mapping class="neptune.storage.profileObject"/>
        <mapping class="neptune.storage.Guild.guildObject"/>
        <mapping class="neptune.storage.logObject"/>
    </session-factory>
</hibernate-configuration>
