<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" xmlns="http://logging.apache.org/log4j/2.0/config" packages="io.prometheus.client.log4j2 , org.apache.logging.log4j.core,io.sentry.log4j2">
    <Appenders>
        <Console name="SlowConsole" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"  pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}"/>
        </Console>
        <Prometheus name="METRICS"/>
        <Sentry name="Sentry"/>
    </Appenders>
    <Loggers>
        <Root level="trace" additivity="false">
            <AppenderRef ref="SlowConsole" />
            <AppenderRef ref="METRICS"/>
            <AppenderRef ref="Sentry"/>
        </Root>
    </Loggers>
</Configuration>
